.daat-btn{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 35px;
    background-color: $secondary;
    color: #fff !important;

    &:hover{ background-color: transparentize($color: $secondary, $amount: .2); }
}