.daat-carousel{
    .carousel-control{
        opacity: 1;
        width: auto;
        &.carousel-control-prev{ left: 0px; }
        &.carousel-control-next{ right: 0px; }
    }

    .carousel-indicators{
        margin: 0 auto;
        bottom: 10px;
        li{
            border: 1px solid $primary;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &.active{ background-color: $primary; }
        }
    }
}

.header-carousel{
    .carousel-control.carousel-control-prev{ left: 10px; }
    .carousel-control.carousel-control-next{ right: 10px; }

    @media (max-width: 575px){
        .carousel-item{ text-align: center; }
    }
}

.products-carousel{
    .carousel-control.carousel-control-prev{
        left: -20px;
        @media (max-width: 575px){ left: -15px; }
    }
    .carousel-control.carousel-control-next{
        right: -20px;
        @media (max-width: 575px){ right: -15px; }
    }
    img{
        max-width: 100%;
        height: auto;
    }
}