footer{
    padding: 60px 0;
    background: linear-gradient(180deg, rgba(3, 109, 145, 0.7) 0%, rgba(0, 158, 226, 0.7) 100%), $primary;
    position: relative;

    .img-fluid{ max-width: 185px; }

    a{
        display: block;
        i{ margin-right: 5px; }
        &:hover{ color: $secondary; }
    }

    .back-to-top{
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
    }
}