.form-container{
    .form-group{
        width: 100%;

        label{ margin-bottom: 5px; }

        input, textarea{
            background-color: #fff;
            border: 1px solid $primary;
            border-radius: 35px;
            width: 100%;
            height: 40px;
            padding: 5px 10px;
            &[aria-invalid="true"]{ border-color: $secondary !important; }
        }

        textarea{
            height: 110px;
            resize: none;
            border-radius: 20px;
        }

        span.wpcf7-not-valid-tip{
            color: $secondary;
            font-size: 14px;
        }
    }

    div.wpcf7 .ajax-loader{
        display: none;
        margin: auto 0;
        margin-left: 5px;
        &.is-active{ display: inline-block; }
    }

    div.wpcf7-response-output{
        margin: 0;
        margin-top: 20px;
        padding: 10px 20px;
        border: 1px solid $primary;
        color: $dark;
        font-size: 14px;
    }
}