header{
    height: 100%;

    .slider-container{
        height: 100%;

        img{
            width: 100%;
            max-width: 500px;
            height: auto;

            @media (max-width: 575px){
                width: auto;
                max-height: 200px;
            }
        }

        @media (max-width: 575px){
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}