.navbar-brand{
    width: 130px;
    margin: 0;
}

.navbar{
    padding: 10px 0;

    .navbar-toggler{
        color: $primary;
        border: none;
        width: 25px;
        height: 22px;
        padding: 0;
        position: relative;
        cursor: pointer;
        span{
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $primary;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            cursor: pointer;
            @include transform(rotate(0deg));
            @include transform-origin(left center);
            @include transition(all 0.25s ease-in-out);
            &:nth-child(1){ top: 0px; }
            &:nth-child(2){ top: 8px; }
            &:nth-child(3){ top: 16px; }
        }
        &[aria-expanded="true"] span{
            left: 0;
            &:nth-child(1){
                @include transform(rotate(45deg));
                top: 0px;
            }
            &:nth-child(2){
                width: 0%;
                opacity: 0;
            }
            &:nth-child(3){
                @include transform(rotate(-45deg));
                top: 18px;
            }
        }
    }

    .navbar-nav li:not(:last-child){
        margin-right: 30px;
        @media (max-width: 767px){
            margin: 0;
            margin: 10px 0;
        }
    }

    @media (max-width: 767px){
        .nav-link{ margin-top: 15px; }
    }

    .go-to-anchor:hover{ color: $primary; }
}

.menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    background-color: #fff;
}