html, body{
    height: 100%;
    background-color: #fff;
    //scroll-behavior: smooth;
}

*:focus{ outline: none !important; }

*{ text-decoration: none !important; }

::-moz-selection{
    background: $primary;
    color: #fff;
}

::selection{
    background: $primary;
    color: #fff;
}

.p-static{ position: static; }

.blue-section{ background-color: transparentize($color: $primary, $amount: .9); }