// Placeholders
@mixin placeholder($font-weight, $color, $color-focus, $font-size) {
    &::-webkit-input-placeholder{
        font-weight: $font-weight;
        color: $color;
        font-size: $font-size;
    }
    &::-moz-placeholder{
        font-weight: $font-weight;
        color: $color;
        font-size: $font-size;
    }
    &:-ms-input-placeholder{
        font-weight: $font-weight;
        color: $color;
        font-size: $font-size;
    }
    &:-moz-placeholder{
        font-weight: $font-weight;
        color: $color;
        font-size: $font-size;
    }
    &:focus::-webkit-input-placeholder{ color: $color-focus; }
    &:focus::-moz-placeholder{ color: $color-focus; }
    &:focus:-ms-input-placeholder{ color: $color-focus; }
    &:focus:-ms-input-placeholder{ color: $color-focus; }
}

// Transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

// Transform
@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}
@mixin transform-origin($origin...) {
    -moz-transform-origin:    $origin;
    -o-transform-origin:      $origin;
    -webkit-transform-origin: $origin;
    transform-origin:         $origin;
}

// Box shadow
@mixin box-shadow($box-shadow...) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow:    $box-shadow;
    box-shadow:         $box-shadow;
}

// Filter
@mixin filter($filter) {
    -webkit-filter: $filter;
    filter:         $filter;
}

// Animation
@mixin animation($animation...) {
    animation:          $animation;
    -webkit-animation:  $animation;
    -moz-animation:     $animation;
    -o-animation:       $animation;
}

// Text and background colors
$colors: (
    primary:   $primary,
    secondary: $secondary,
    light:     $light,
    dark:      $dark
);
//Loop over list of colors
//@each ( $textColor : $color )
@each $textColor, $color in $colors{ .#{$textColor}-text{ color: $color; } }// Text colors
@each $bgColor, $color in $colors{ .bg-#{$bgColor}{ background-color: $color; } }// Background colors

// Text weights
$weights: (
    regular: $regular,
    bold:    $bold,
    bolder:  $bolder
);
@each $textWeight, $weight in $weights{ .#{$textWeight}-text{ font-weight: $weight; } }

// Spacing
$directions: (
    xy: '',// Margin top, right, bottom and left: 'mxy-'
    t: top,
    b: bottom,
    r: right,
    l: left
);
$sizes:( 0, 5, 10, 20, 30, 40, 50, 70, 90, auto );
@each $dir, $direction in $directions{
    @each $size in $sizes{
        @each $bp, $breakpoint in $grid-breakpoints{
            @if $breakpoint > 0{
                @media (min-width: $breakpoint){
                    .m#{$dir}-#{$bp}-#{$size}{
                        @if $dir == xy{ margin: #{$size}px; }
                        @else if $size == auto{ margin-#{$direction}: auto; }
                        @else{ margin-#{$direction}: #{$size}px !important; }
                    }
                    .p#{$dir}-#{$bp}-#{$size}{
                        @if $dir == xy{ padding: #{$size}px; }
                        @else if $size == auto{ padding-#{$direction}: auto; }
                        @else{ padding-#{$direction}: #{$size}px !important; }
                    }
                }
            }
            @else{
                .m#{$dir}-#{$size}{
                    @if $dir == xy{ margin: #{$size}px; }
                    @else if $size == auto{ margin-#{$direction}: auto; }
                    @else{ margin-#{$direction}: #{$size}px; }
                }
                .p#{$dir}-#{$size}{
                    @if $dir == xy{ padding: #{$size}px; }
                    @else if $size == auto{ padding-#{$direction}: auto; }
                    @else{ padding-#{$direction}: #{$size}px; }
                }
            }
        }
    }
}

// Font sizes
$fsizes:( 14, 16, 20, 30, 40 );
@each $size in $fsizes{
    .fs-#{$size}{ font-size: #{$size}px; }
    @media screen and (max-width: 767px){
        @if $size == 40{
            .fs-#{$size}{ font-size: #{$size / 2}px; }
        }
    }
}