// Colors
$primary:   #009EE2;
$secondary: #FF8800;
$dark:      #454545;
$light:     #fff;


// Text
$font: 'Muli', sans-serif;
$regular: 400;
$bold:    700;
$bolder:  900;

// Grid
$grid-breakpoints: (
    '': 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Urls
// https://daatmarketing.com/test
$url: 'https://daatmarketing.com';