// Utilities
@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/general';
@import './utilities/text';

// Components
@import './components/header';
@import './components/menu';
@import './components/buttons';
@import './components/carousel';
@import './components/card';
@import './components/form';
@import './components/footer';

// Nosotros
.img-epigrafe{
    position: relative;
    .epigrafe{
        background-color: rgba(69, 69, 69, 0.5);
        height: 30px;
        padding: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        p{
            font-size: 12px;
            font-style: italic;
        }
    }
}

// Products
.products-container{
    padding-bottom: 100px;
    .daat-card{
        ul{
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            list-style: none;
            li:before{
                content: '';
                min-width: 7px;
                height: 7px;
                background-color: $primary;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
        }

        @media (min-width: 992px){ height: 100%; }
        @media (max-width: 991px){ margin-bottom: 30px; }
    }

    @media (max-width: 575px){
        padding-right: 30px;
        padding-left: 30px;
    }
}

// Banner
.banner{
    padding: 60px 0;
    background: linear-gradient(180deg, rgba(3, 109, 145, 0.7) 0%, rgba(0, 158, 226, 0.7) 100%), $primary;
}

// OOH
.white-divider{
    background-color: #fff;
    height: 160px;
    margin-top: -100px;
}

// Usos
.usos-container{
    margin-top: -100px;
    padding-bottom: 250px;
    background-color: #fff;

    .use-holder{
        width: 180px;
        height: 180px;
        img{
            width: auto;
            max-width: 55px;
            height: auto;
            max-height: 50px;
        }

        @media (max-width: 575px){
            width: 100%;
            height: 100%;
            padding: 20px;
            max-width: 135px;
            max-height: 135px;
            p{ font-size: 12px; }
        }
    }
}

// Contact
.contact-container{
    margin-top: -250px;

    .daat-card{
        max-width: 650px;
        padding: 70px 85px;
        margin-bottom: 80px;
        @media (max-width: 767px){ padding: 40px 55px; }
        @media (max-width: 575px){ padding: 40px; }
    }
}